@import "tailwindcss";

body{
    color: #4D4D4D;
}



section{
    padding:25px 100px;
}

button{
    color: white;
    background-color:#4CAF4F ;
    padding: 10px 20px;
    border-radius: 5%;
    text-align: center;
}


h2{
   font-size: 44.4px;
   font-weight: 500;
}

h3{
    font-size: 25.06px;
    font-weight: 600;
}

h4{
    font-size: 19.49px;
}

p{
    font-size: 15px;
}



@media only screen and (max-width: 600px) {
    section{
        padding:30px 10px;
    }
    
    button{
        color: white;
        background-color:#4CAF4F ;
        padding: 10px 20px;
        border-radius: 5%;
        text-align: center;
    }
    
    
    h2{
       font-size: 30px;
       font-weight: 500;
    }
    
    h3{
        font-size: 20px;
        font-weight: 600;
    }
    
    h4{
        font-size: 19.49px;
    }
    
    p{
        font-size: 15px;
    }
  }


  @media only screen and (max-width: 1200px){
    section{
        padding:30px 10px;
    }
  }